<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" media="all"
              href="css/plantilla.css" th:href="@{css/plantilla.css}" />
        <title>Carrito</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" media="all"
              href="public/css/plantilla.css" th:href="@{public/css/plantilla.css}" />
    </head>

    <body>
    <header class="container-fluid" th:fragment="header">
        <div class="row">
            <div class="col-6">
                <a id="title" href="/productos"  th:text="${title}">

                    Titulo no encontrado

                </a>

            </div>

            <div class="col-3">

                <div id="cart">
                    <a th:hidden="${!car}" href="/productos/carrito" >
                        <svg  xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    </a>

                </div>
            </div>

            <div class="col-3">
                <a  th:hidden="!${logged}" href="/user/ventas" >
                    <svg id="user"  href="/productos/ventas" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                </a>

                <a th:hidden="${logged}" href="/user" >Iniciar Sesion Admin</a>
            </div>
        </div>

        </div>



    </header>

        <div class="card bg-dark text-white">
            <div class="card-body">
                <form enctype="application/x-www-form-urlencoded" method="post" th:attr="action=${accion}">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <a href="/productos" class="btn btn-primary">Volver</a>
                        </div>
                    </div>

                    <div class="form-group row" >
                        <label th:hidden="!${onBuy}" for="cliente" class="col-form-label col-sm-2" >Nombre: </label>
                        <div  class="col-sm-6 ">
                            <input th:hidden="!${onBuy}" type="text" class="form-control" name="cliente">
                        </div>

                    </div>

                    <div class="form-group row" >
                        <label th:hidden="!${onBuy}" for="mail" class="col-form-label col-sm-2">Correo</label>
                        <div class="col-sm-6">
                            <input th:hidden="!${onBuy}" type="email" class="form-control" name="email">
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="nombre" class="col-form-label col-sm-2" >Nombre</label>
                        <div class="col-sm-6 ">
                            <input type="text" class="form-control" th:readonly="${onBuy}" th:value="${product} ? ${product.name} : ''" name="nombre">
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="precio" class="col-form-label col-sm-2">Precio</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:readonly="${onBuy}" th:value="${product} ? ${product.price} : ''"name="precio">
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="cantidad" class="col-form-label col-sm-2">Cantidad disponible</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" th:readonly="${onBuy}" th:value="${product} ? ${product.quantity} : ''"name="cantidad">
                        </div>

                    </div>

                    <div class="form-group row" th:hidden="!${onBuy}">
                        <label for="compra" class="col-form-label col-sm-2">Cantidad a comprar</label>
                        <div class="col-sm-6">
                            <input   type="number" id="quantity" th:value="1" name="compra" min="1"  th:max="${product} ? ${product.quantity} : 1" >
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">

                                <button type="submit" class="btn btn-primary" th:text="${product}? (${onBuy}?'Comprar':'Editar'):'Crear' ">Crear</button>

                        </div>
                    </div>


                </form>

            </div>
        </div>
        <div th:replace="plantilla.html::javascript">

        </div>

    </body>


</html>
